<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Summary</title>
  <style>
    .form-errors{
      color: red;
    }
    form div{
      padding: 10px;
    }
  </style>
</head>
<body>
  <h1>PDF Account Summary</h1>
  <p>Upload a statement of account pdf document and get total monthly totals for <strong>In</strong> and <strong>Out</strong> for the account.</p>
  <form action="." method="POST">
    <div>
      <p>File source: eg safaricom statement etc..</p>
      <select name="account-type" id="account-type-select">
        <option value="">...</option>
        <option value="safaricom">Safaricom Statement</option>
        <option value="coop">Cooperative Bank Statement</option>
      </select>
    </div>
    <div>
      <p>Safaricom file password</p>
      <input type="text" name="safaricom-password" id="safaricom-password-input" placeholder="Safaricom files password" disabled=true>
    </div>
    <script>
      let accountType = document.getElementById("account-type-select");
      let safPasswordInput = document.getElementById("safaricom-password-input");
      function disableEnableSafPasswordInput(){
        if(accountType.value == 'safaricom'){
          safPasswordInput.disabled = false;
        } else {
          safPasswordInput.disabled = true;
        }
      }
      disableEnableSafPasswordInput();
      
      accountType.onchange = disableEnableSafPasswordInput;
    </script>
    <div>
      <p>File to scan</p>
      <input type="file" name="statement-file" id="statement-file" accept=".pdf">
    </div>
    <div>
      <button type="submit" style="background-color: rgb(0, 247, 255);">Submit</button>
    </div>
    
    
  </form>
</body>
</html>